<p id="notice"><%= notice %></p>

<p>
  <strong>Blog:</strong>
  <%= @reply.blog_id %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @reply.comment %>
</p>

<p>
  <strong>Created at:</strong>
  <%= @reply.created_at %>
</p>

<p>
  <strong>Updated at:</strong>
  <%= @reply.updated_at %>
</p>

<%= link_to 'Edit', edit_reply_path(@reply) %> |
<%= link_to 'Back', replies_path %>
