<p id="notice"><%= notice %></p>

<h1>Mini blog</h1>

<form class="new_blog" id="new_blog" action="/blogs/create" accept-charset="UTF-8" method="post">
  <input size="80%" placeholder="投稿しよう" type="text" value="" name="blog[body]" id="blog_body" />
  <input type="submit" name="commit" value="投稿する" data-disable-with="投稿する" />
</form>

<hr/>

<table>

  <tbody>
    <% @blogs.reverse_each do |blog| %>
      <tr>
        <td><%= blog.id %>:<%= link_to blog.body, blog %></td>
        <tr>
          <td><%= link_to 'いいね', blog %>: <%= blog.like%> |</td>
          <td>コメント数: | </td>
          <td>投稿日時: <%= blog.created_at %></td>
        </tr>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%
=begin link_to 'New Blog', new_blog_path 
=end
%>
