<p id="notice"><%= notice %></p>

<h1>Mini blog</h1>

<%= form_for @blog, :url => {:controller => :blogs, :action => :create} do |f| %>
  <%= f.text_field :body, :placeholder => '投稿しよう', :size => '80%', :name => 'blog[body]', :id => 'blog_body' %>
  <%= f.submit "投稿する", :name => 'commit', :disable_with => '投稿する' %>
<% end %>

<hr/>

<ol>
  <% @blogs.reverse_each do |blog| %>
    <li class="miniBlog">
      <p>
        <span class="id"><%= blog.id %></span>:<%= link_to blog.body, blog, :class => 'blogBody' %>
      </p>
      <p>
        <%= link_to 'いいね', controller: 'blogs', action: 'like', id: blog.id, is_show: 0 %>: <%= blog.like%> | 
        コメント数: <%= @replies.where(blog_id:blog.id).length %> | 
        <span class="timestamp">投稿日時: <%= blog.created_at %></span>
      </p>
    </li>
  <% end %>
</ol>

<br>

<%
=begin link_to 'New Blog', new_blog_path 
=end
%>
