<p id="notice"><%= notice %></p>

<h1>Mini blog</h1>

<%= link_to '戻る', blogs_path %>

<hr/>
<div class="miniBlog">
  <p><%= @blog.id %>: <span class="timestamp">投稿日時: <%= @blog.created_at.to_s(:published_on) %></span> | <%= link_to 'いいね', controller: 'blogs', action: 'like', id: @blog.id, is_show: 1 %>: <%= @blog.like%></p>
  <p class="blogBody"><%= @blog.body %></p>
</div>

<%= form_for @reply, :url => {:controller => :replies, :action => :create} do |f| %>
  <%= f.text_field :comment, :placeholder => 'コメントしよう', :size => '80%', :name => 'reply[comment]', :id => 'reply_comment' %>
  <%= f.hidden_field :blog_id, :value => @blog.id %>
  <%= f.submit "コメントする", :name => 'commit', :disable_with => 'コメントする' %>
<% end %>

<hr/>

<ol id="replies">
  <% @replies.reverse_each do |reply| %>
    <li class="reply">
      <span class="commentBody"><%=  reply.comment %></span> | <span class="timestamp">投稿日時: <%=  reply.created_at.to_s(:published_on) %></span>
    </li>
  <% end %>
</ol>