<p id="notice"><%= notice %></p>

<p>
  <strong>Body:</strong>
  <%= @blog.body %>
</p>

<p>
  <strong>Like:</strong>
  <%= @blog.like %>
</p>

<p>
  <strong>Created at:</strong>
  <%= @blog.created_at %>
</p>

<p>
  <strong>Updated at:</strong>
  <%= @blog.updated_at %>
</p>

<%= link_to 'Edit', edit_blog_path(@blog) %> |
<%= link_to 'Back', blogs_path %>
